@import url(
  https://fonts.googleapis.com/css?family=Lato:300,
  300italic,
  400,
  700,
  700italic
);
@import "ember-modal-dialog/ember-modal-structure.css";
@import "ember-modal-dialog/ember-modal-appearance.css";

/**
 * Base Elements
 */

* {
  margin: 0;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
span,
a,
button {
  font-family: "Lato", "Open Sans", "Helvetica Neue", "Segoe UI", Helvetica,
    Arial, sans-serif;
  line-height: 1.5;
}

body {
  background: #f3f3f3;
}

.post-container {
  text-align: center;
  height: 100vh;
}

.post-list {
  display: flex;
  list-style: none;
  flex-direction: column;
  align-items: baseline;
  text-align: center;
  margin: 0 auto;
  width: 65vw;
  padding: 1rem 4rem;
  border: 1px solid black;
}

.post-list button {
  background: transparent;
  border: none;
  padding: 1rem 2rem;
}

.post-list li {
  border: 1px solid black;
  width: 100%;
}

.pagination {
  list-style: none;
  display: flex;
  width: 65.2vw;
  justify-content: center;
}

.modal-wrapper {
  display: flex;
  flex-direction: column;
}

.modal-wrapper h3 {
  text-align: center;
}

.modal-wrapper button {
  width: 100%;
}
